<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User Registration Form</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1>User Registration Form</h1>
    <!-- https://docs.djangoproject.com/en/4.2/topics/forms/ -->
    <form method="POST" action="{% url 'register' %}">
      {% csrf_token %}
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
      </div>
      <div class="mb-3">
        <label for="confirm-password" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="confirm-password" name="confirm-password" placeholder="Confirm Password">
      </div>
      <button type="submit" class="btn btn-primary">Register</button>
      <a href="{% url 'index' %}" class="btn btn-secondary">Home Page</a>
    </form>
  </div>
</body>
</html>
